/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: rgb(243, 243, 243);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Header */
header {
  height: 60px;
  background-color: rgb(39, 39, 39);
}

ul.nav-items {
  float: right;
}

.nav-items li {
  display: inline-block;
}

.nav-items a {
  line-height: 30px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

header span {
  line-height: 60px;
  color: #fff;
}
/* End of Header Style */

/* Button */
.btn-sm {
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1.6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.btn-dark {
  background-color: rgb(39, 39, 39);
}

.btn-light {
  color: rgb(34, 34, 34);
  border: 1px solid #000;
}

.btn-mr {
  margin-right: 10px;
}

/* Button  */

/* HomePage */

.main-content {
  position: relative;
  background-image: linear-gradient(
      rgba(233, 233, 233, 0.904),
      rgba(199, 199, 199, 0.808)
    ),
    url("../img/mountain.jpg");

  height: 92vh;
  background-size: cover;
}

.main-inner {
  position: absolute;
  top: 28%;
}

.heading {
  line-height: 1.6;
  font-weight: 600;
}
.heading h2 {
  color: #c07079;
  margin: 0px;
  font-size: 6rem;
}

.heading p {
  margin: -10px 0;
  padding: 0;
  font-size: 2.4rem;
  word-spacing: 0.1em;
}

@media (max-width: 332px) {
  .heading p {
    margin: -10px 0;
    padding: 0;
    font-size: 2rem;
    word-spacing: 0em;
  }
}

@media (max-width: 800px) {
  .nav-items {
    font-size: 1.25rem;
  }

  .nav-items a {
    padding: 0;
    margin: 0 7px;
  }
}
